@page "{id}"
@model ProgramareAvansataCA.Pages.EditComicModel
@{
    ViewData["Title"] = "EditComic";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>EditComic</h1>
<form method="POST">
    <table class="table">
        <thead class="font-weight-bold">
            <tr>
                <td>
                    Edit Input
                </td>
                <td>
                    <input type="hidden" asp-for="ComicBook.Id" value="@Model.comicId" />
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Comic Book Title
            </td>
            <td>
                <input asp-for="ComicBook.Title" />
            </td>
        </tr>
        <tr>
            <td>
                Comic Book Author
            </td>
            <td>
                <input asp-for="ComicBook.Author" />
            </td>
        </tr>
        <tr>
            <td>
                Comic Book Image
            </td>
            <td>
                <input asp-for="ComicBook.ImageUrl" />
            </td>
        </tr>
        <tr>
            <td>
                Comic Book Description
            </td>
            <td>
                <input asp-for="ComicBook.Description" />
            </td>
        </tr>
        <tr>
            <td>
                Comic Book Issue Date
            </td>
            <td>
                <input asp-for="ComicBook.IssueDate" type="datetime" />
            </td>
        </tr>
    </table>
    <input type="submit" asp-page-handler="Edit" value="Submit Changes" />
</form>

