@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the project intended to show my understanding of C# back-end development and front-end development!</p>
</div>
<div class="container text-center centered">
    <img src="https://picsum.photos/1100/800" alt="picsumplaceholder1" class="img-responsive" />
    <div class="" role="option">
        You will be able to observe every functionality developed for this site. A website prototype for <b>Comic Book</b> collections.<br />
        <a class="btn btn-dark" href="/Comics">
            See our comics!
        </a>
    </div>
</div>
